*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lucida Grande", "Calibri", Verdana;
    
}

h2{
    font-size: 16px;
}

table{
    margin-bottom: 2px;
    border: 1px solid #D3D3D3; 
}

th,td{
    border: 1px solid #D3D3D3; 
    font-size: 12px;
    padding: 5px;
}

th{
    background-color: #ff7675;    
}

#wraper{
    margin: 20px auto;
    width: 950px;
    border: 1px solid #ff7675;
    -moz-border-radius: 10px 10px 5px 5px;
    border-radius: 10px 10px 5px 5px;    
}

#header{
    height: 40px;
    background-color: #ff7675;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 0 0 20px;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;    
}


#content{
    padding: 10px;
    background-color: #F8F8FF;        
    font-size: 10px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;    
}

#paneltombol{
    clear: both;
    float: right;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

#data{
    clear: both;
}

.tombol{
    height: 30px;
	width: 45px;
    border: 1px solid #D3D3D3;
    background-color: #fab1a0;
    font-size: 12px;
    -border-radius: 5px;
    -moz-border-radius: 5px;
}
.tomboltambah{
    height: 30px;
	width: 100px;
    border: 1px solid #D3D3D3;
    background-color: #fab1a0;
    font-size: 12px;
    -border-radius: 5px;
    -moz-border-radius: 5px;
}
#notifikasi{
        font-size: 10px;
 padding: 10px;
 right: 300px;
 top: 10px;
 position: absolute;
 border: 1px solid #d3D3D3;
 background-color: #E6E6FA;
}
#formmahasiswa div{
    margin: 5px;
    display: block;
}

#formmahasiswa label{
    display: block;
    margin-bottom: 5px;
}

.inputform {
    width: 100%;
    height: 30px;
    border: 1px solid #D3D3D3;
}
